<a href="https://colab.research.google.com/github/Vipul4765/DSA-practice-question/blob/main/API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
balls = pd.read_csv('/content/IPL_Ball_by_Ball_2008_2022 - IPL_Ball_by_Ball_2008_2022.csv')

In [ ]:
matches = pd.read_csv('/content/ipl-matches.csv')

In [ ]:
iplball_matches = matches.merge(balls,how = 'inner', on = 'ID')

In [ ]:
iplball_matches.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [ ]:
iplball_matches.groupby('ID')

In [ ]:
balls['isWicketDelivery'].value_counts()

0    214803
1     11151
Name: isWicketDelivery, dtype: int64

In [ ]:
(balls[balls['batter']== 'V Kohli'])['isWicketDelivery'].sum()

193

In [ ]:
df = balls[balls['batter']== 'V Kohli'].groupby('ID').sum()

<ipython-input-238-931320e83388>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = balls[balls['batter']== 'V Kohli'].groupby('ID').sum()

In [ ]:
import pandas as pd

# Assuming 'balls' is your DataFrame and you've already filtered for 'V Kohli'
filtered_data = balls[balls['batter'] == 'V Kohli']
number_of_century = (filtered_data.groupby('ID').sum()['batsman_run'] >= 100).sum()

iplball_matches['Season'].nunique()
filtered_data['ID'].nunique()

<ipython-input-239-41ab63c6b6f1>:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  number_of_century = (filtered_data.groupby('ID').sum()['batsman_run'] >= 100).sum()

215

In [ ]:
19000 * 20 * 6

2280000

In [ ]:
2280000 - 596989

1683011

In [ ]:
def batsman_record_dict(playername):
    """
    Return the batting record of a player in the form of a dictionary.

    Args:
        playername (str): The name of the player.

    Returns:
        dict: The batting record of the player.
    """

    filtered_data = balls[balls['batter'] == playername]

    """
    Number of centuries scored by the player.
    """
    century = (filtered_data.groupby('ID').sum()['batsman_run'] >= 100).sum()

    """
    Number of half-centuries scored by the player.
    """
    half_century = (filtered_data.groupby('ID').sum()['batsman_run'] >= 50).sum() - century

    """
    Total runs scored by the player.
    """
    total_runs = filtered_data['batsman_run'].sum()

    """
    Total balls faced by the player.
    """
    total_balls = filtered_data.shape[0]

    """
    Strike rate of the player.
    """
    strike_rate = total_runs / total_balls

    """
    Number of fours hit by the player.
    """
    four = (filtered_data['batsman_run'] == 4).sum()

    """
    Number of sixes hit by the player.
    """
    six = (filtered_data['batsman_run'] == 6).sum()

    """
    Number of times the player got out.
    """
    out = filtered_data['isWicketDelivery'].sum()

    """
    Average score of the player.
    """
    average = total_runs / out

    """
    total_season
    """
    total_season = matches['Season'].nunique()

    """
    total number of matches
    """
    total_matches = filtered_data['ID'].nunique()

    """
    highest Score
    """
    highest_score = filtered_data.groupby('ID').sum()['batsman_run'].max()

    """
    ALL Season Runs
    """
    iplball_matches = matches.merge(balls,how = 'inner', on = 'ID')
    player_runs_per_season = iplball_matches[iplball_matches['batter'] == player_name].groupby('Season')['batsman_run'].sum()

    return {
        'Player name' : playername,
        'total Season' : total_season,
        'total matches' : total_matches,
        'century': century,
        'half_century': half_century,
        'total_runs': total_runs,
        'total_balls': total_balls,
        'strike_rate': strike_rate,
        'four': four,
        'six': six,
        'out': out,
        'average': average,
        #'matches': matches,
        'highest score' : highest_score,
        'All season runs' : player_runs_per_season
    }

In [ ]:
batsman_record_dict('V Kohli')

<ipython-input-258-528714558ac2>:17: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  century = (filtered_data.groupby('ID').sum()['batsman_run'] >= 100).sum()
<ipython-input-258-528714558ac2>:22: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  half_century = (filtered_data.groupby('ID').sum()['batsman_run'] >= 50).sum() - century
<ipython-input-258-528714558ac2>:72: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  highest_score = filtered_data.groupby('ID').sum()['batsman_run'].max()

{'Player name': 'V Kohli',
 'total Season': 15,
 'total matches': 215,
 'century': 5,
 'half_century': 45,
 'total_runs': 6634,
 'total_balls': 5266,
 'strike_rate': 1.259779718951766,
 'four': 581,
 'six': 219,
 'out': 193,
 'average': 34.373056994818654,
 'highest score': 113,
 'All season runs': Season
 2007/08    165
 2009       246
 2009/10    307
 2011       557
 2012       364
 2013       639
 2014       359
 2015       505
 2016       973
 2017       308
 2018       530
 2019       464
 2020/21    471
 2021       405
 2022       341
 Name: batsman_run, dtype: int64}

In [ ]:
total_runs = balls[balls['batter']== 'V Kohli'].sum()['batsman_run']

<ipython-input-244-fd1fc3863565>:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  total_runs = balls[balls['batter']== 'V Kohli'].sum()['batsman_run']

In [ ]:
total_runs

6634

In [ ]:
balls.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0.0,1.0,1.0,0.0,0.0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Rajasthan Royals

In [ ]:
iplball_matches = matches.merge(balls,how = 'inner', on = 'ID')
iplball_matches.groupby('Season')

In [ ]:
player_name = 'V Kohli'
iplball_matches = matches.merge(balls,how = 'inner', on = 'ID')
player_runs_per_season = iplball_matches[iplball_matches['batter'] == player_name].groupby('Season')['batsman_run'].sum()
player_runs_per_season

Season
2007/08    165
2009       246
2009/10    307
2011       557
2012       364
2013       639
2014       359
2015       505
2016       973
2017       308
2018       530
2019       464
2020/21    471
2021       405
2022       341
Name: batsman_run, dtype: int64

In [ ]:
iplball_matches.head(5)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [ ]:
def max_runs_in_season(playername):
    """
    Return the maximum runs scored by a batsman in a single season.

    Args:
        playername (str): The name of the player.

    Returns:
        int: The maximum runs scored by the player in a single season.
    """

    filtered_data = balls[balls['batter'] == playername]

    """
    Create a dictionary to store the maximum runs scored by the player in each season.
    """
    max_runs_per_season = {}

    """
    Iterate over the years.
    """
    for year in filtered_data['Season'].unique():
        season_data = filtered_data[filtered_data['Season'] == year]

        """
        Calculate the runs scored by the player in the current season.
        """
        runs_in_season = season_data['batsman_run'].sum()

        """
        Update the maximum runs if the runs scored in the current season is more than the maximum runs scored so far.
        """
        if runs_in_season > max_runs_per_season['runs']:
            max_runs_per_season['runs'] = runs_in_season
            max_runs_per_season['year'] = year

    return max_runs_per_season['runs']

In [ ]:
max_runs_in_season('V Kohli')

KeyError: ignored

In [ ]:
balls.head(5)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [ ]:
total_season = matches['Season'].nunique()

In [ ]:
total_season

15

In [ ]:
import pandas as pd
import numpy as np
import json

class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        if isinstance(obj, np.floating):
            return float(obj)
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        return super(NpEncoder, self).default(obj)

matches = pd.read_csv('ipl-matches.csv')
balls = pd.read_csv('IPL_Ball_by_Ball_2008_2022 - IPL_Ball_by_Ball_2008_2022.csv')
balls_matches = pd.merge(matches, balls, on='ID', how='inner')

def all_ipl_batsman():
    seasonwise_batsman = {}
    all_batsman = list(set(balls['batter']))
    season = list(matches['Season'].unique())
    for i in season:
        filtered_data = balls_matches.loc[balls_matches['Season'] == i]
        seasonwise_batsman[i] = list((filtered_data['batter'].unique()))
    result = {
        'total': len(all_batsman),
        'all_batsman_ipl': all_batsman,
        'seasons': season,
        'seasonwise_batsmen': seasonwise_batsman
    }
    return json.dumps(result, cls=NpEncoder)

def batsman_record(playername):
    all_batsman = list(set(balls['batter']))
    if playername in all_batsman:
        filtered_data = balls[balls['batter'] == playername]
        century = (filtered_data.groupby('ID').sum()['batsman_run'] >= 100).sum()
        half_century = (filtered_data.groupby('ID').sum()['batsman_run'] >= 50).sum() - century
        total_runs = filtered_data['batsman_run'].sum()
        total_balls = filtered_data.shape[0]
        strike_rate = total_runs / total_balls
        four = (filtered_data['batsman_run'] == 4).sum()
        six = (filtered_data['batsman_run'] == 6).sum()
        out = filtered_data['isWicketDelivery'].sum()
        average = total_runs / out
        total_season = matches['Season'].nunique()
        total_matches = filtered_data['ID'].nunique()
        highest_score = filtered_data.groupby('ID').sum()['batsman_run'].max()
        iplball_matches = matches.merge(balls, how='inner', on='ID')
        player_runs_per_season = iplball_matches[iplball_matches['batter'] == playername].groupby('Season')[
            'batsman_run'].sum()
        result = {
            'Player name': playername,
            'total Season': total_season,
            'total matches': total_matches,
            'century': century,
            'half_century': half_century,
            'total_runs': total_runs,
            'total_balls': total_balls,
            'strike_rate': strike_rate,
            'four': four,
            'six': six,
            'out': out,
            'average': average,
            'highest score': highest_score,
            'All season runs': player_runs_per_season
        }
        return json.dumps(result, cls=NpEncoder)
    return {'message': 'invalid player name'}

In [ ]:
def batsman_record(playername):
    all_batsman = list(set(balls['batter']))
    if playername in all_batsman:
        filtered_data = balls[balls['batter'] == playername]
        century = (filtered_data.groupby('ID').sum()['batsman_run'] >= 100).sum()
        half_century = (filtered_data.groupby('ID').sum()['batsman_run'] >= 50).sum() - century
        total_runs = filtered_data['batsman_run'].sum()
        total_balls = filtered_data.shape[0]
        strike_rate = total_runs / total_balls
        four = (filtered_data['batsman_run'] == 4).sum()
        six = (filtered_data['batsman_run'] == 6).sum()
        out = filtered_data['isWicketDelivery'].sum()
        average = total_runs / out
        total_season = matches['Season'].nunique()
        total_matches = filtered_data['ID'].nunique()
        highest_score = filtered_data.groupby('ID').sum()['batsman_run'].max()
        iplball_matches = matches.merge(balls, how='inner', on='ID')
        player_runs_per_season = iplball_matches[iplball_matches['batter'] == playername].groupby('Season')[
            'batsman_run'].sum()
        player_runs_per_season_list = dict(player_runs_per_season)
        result = {
            'Player name': playername,
            'total Season': int(total_season),  # Convert to int
            'total matches': int(total_matches),  # Convert to int
            'century': int(century),  # Convert to int
            'half_century': int(half_century),  # Convert to int
            'total_runs': int(total_runs),  # Convert to int
            'total_balls': int(total_balls),  # Convert to int
            'strike_rate': float(strike_rate),  # Convert to float
            'four': int(four),  # Convert to int
            'six': int(six),  # Convert to int
            'out': int(out),  # Convert to int
            'average': float(average),  # Convert to float
            'highest score': int(highest_score),  # Convert to int
            'All season runs': player_runs_per_season_list  # Use the converted list
        }
        return result

In [ ]:
batsman_record('V Kohli')

<ipython-input-267-93f60cd9f5f3>:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  century = (filtered_data.groupby('ID').sum()['batsman_run'] >= 100).sum()
<ipython-input-267-93f60cd9f5f3>:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  half_century = (filtered_data.groupby('ID').sum()['batsman_run'] >= 50).sum() - century
<ipython-input-267-93f60cd9f5f3>:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  highest_score = filtered_data.groupby('ID').sum()['batsman_run'].max()

{'Player name': 'V Kohli',
 'total Season': 15,
 'total matches': 215,
 'century': 5,
 'half_century': 45,
 'total_runs': 6634,
 'total_balls': 5266,
 'strike_rate': 1.259779718951766,
 'four': 581,
 'six': 219,
 'out': 193,
 'average': 34.373056994818654,
 'highest score': 113,
 'All season runs': {'2007/08': 165,
  '2009': 246,
  '2009/10': 307,
  '2011': 557,
  '2012': 364,
  '2013': 639,
  '2014': 359,
  '2015': 505,
  '2016': 973,
  '2017': 308,
  '2018': 530,
  '2019': 464,
  '2020/21': 471,
  '2021': 405,
  '2022': 341}}

In [ ]:
batsmen

NameError: ignored

In [ ]:
matches.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

In [ ]:
balls.head(2)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [ ]:

team_condition = iplball_matches[(iplball_matches['Team1'] == 'Royal Challengers Bangalore') | (iplball_matches['Team2'] == 'Royal Challengers Bangalore')

SyntaxError: ignored

AttributeError: ignored

In [ ]:
df = iplball_matches.groupby('Team1') or iplball_matches.groupby('Team2')

In [ ]:
df = iplball_matches[iplball_matches['batter'] == 'V Kohli']
df.groupby(['Team1','Team2'])['batsman_run'].sum()

In [ ]:
df.groupby(['Team1','Team2'])['batsman_run'].sum()

Team1                        Team2
Chennai Super Kings          Royal Challengers Bangalore    325
Deccan Chargers              Royal Challengers Bangalore    125
Delhi Capitals               Royal Challengers Bangalore     70
Delhi Daredevils             Royal Challengers Bangalore    538
Gujarat Lions                Royal Challengers Bangalore    164
Gujarat Titans               Royal Challengers Bangalore     73
Kings XI Punjab              Royal Challengers Bangalore    272
Kochi Tuskers Kerala         Royal Challengers Bangalore     23
Kolkata Knight Riders        Royal Challengers Bangalore    223
Mumbai Indians               Royal Challengers Bangalore    466
Pune Warriors                Royal Challengers Bangalore     34
Punjab Kings                 Royal Challengers Bangalore     55
Rajasthan Royals             Royal Challengers Bangalore    474
Rising Pune Supergiant       Royal Challengers Bangalore     55
Rising Pune Supergiants      Royal Challengers Bangalore     80
Royal Challengers Bangalore  Chennai Super Kings            654
                             Deccan Chargers                181
                             Delhi Capitals                  94
                             Delhi Daredevils               223
                             Gujarat Lions                  119
                             Gujarat Titans                  58
                             Kings XI Punjab                409
                             Kochi Tuskers Kerala            27
                             Kolkata Knight Riders          563
                             Lucknow Super Giants            25
                             Mumbai Indians                 308
                             Pune Warriors                   94
                             Punjab Kings                    66
                             Rajasthan Royals               126
                             Rising Pune Supergiant          28
                             Rising Pune Supergiants        108
                             Sunrisers Hyderabad            335
Sunrisers Hyderabad          Royal Challengers Bangalore    239
Name: batsman_run, dtype: int64

In [ ]:
df.groupby(['Team1','Team2'])['batsman_run'].sum()

Team1                        Team2
Chennai Super Kings          Royal Challengers Bangalore    325
Deccan Chargers              Royal Challengers Bangalore    125
Delhi Capitals               Royal Challengers Bangalore     70
Delhi Daredevils             Royal Challengers Bangalore    538
Gujarat Lions                Royal Challengers Bangalore    164
Gujarat Titans               Royal Challengers Bangalore     73
Kings XI Punjab              Royal Challengers Bangalore    272
Kochi Tuskers Kerala         Royal Challengers Bangalore     23
Kolkata Knight Riders        Royal Challengers Bangalore    223
Mumbai Indians               Royal Challengers Bangalore    466
Pune Warriors                Royal Challengers Bangalore     34
Punjab Kings                 Royal Challengers Bangalore     55
Rajasthan Royals             Royal Challengers Bangalore    474
Rising Pune Supergiant       Royal Challengers Bangalore     55
Rising Pune Supergiants      Royal Challengers Bangalore     80
Royal Challengers Bangalore  Chennai Super Kings            654
                             Deccan Chargers                181
                             Delhi Capitals                  94
                             Delhi Daredevils               223
                             Gujarat Lions                  119
                             Gujarat Titans                  58
                             Kings XI Punjab                409
                             Kochi Tuskers Kerala            27
                             Kolkata Knight Riders          563
                             Lucknow Super Giants            25
                             Mumbai Indians                 308
                             Pune Warriors                   94
                             Punjab Kings                    66
                             Rajasthan Royals               126
                             Rising Pune Supergiant          28
                             Rising Pune Supergiants        108
                             Sunrisers Hyderabad            335
Sunrisers Hyderabad          Royal Challengers Bangalore    239
Name: batsman_run, dtype: int64

In [ ]:
df = iplball_matches[iplball_matches['batter'] == 'V Kohli']
var = df['Team1'] +','+ df['Team2']

In [ ]:
record_against_all_teams('V Kholi')

KeyError: ignored

In [ ]:
import pandas as pd

# Assuming you have already merged matches and balls into iplball_matches
# iplball_matches = matches.merge(balls, how='inner', on='ID')

# Filter the DataFrame for matches where 'V Kohli' played
df = iplball_matches[iplball_matches['batter'] == 'V Kohli']

# Group by combinations of 'Team1' and 'Team2' and calculate the sum of 'batsman_run'
sum_batsman_run_per_team1 = df.groupby(['Team1'])['batsman_run'].sum().reset_index()

In [ ]:
sum_batsman_run_per_team1 = df.groupby(['Team1'])['batsman_run'].sum()

In [ ]:
sum_batsman_run_per_team2 = df.groupby(['Team2'])['batsman_run'].sum()

In [ ]:
sum_batsman_run_per_team1 + sum_batsman_run_per_team2

Team2
Chennai Super Kings             654
Deccan Chargers                 181
Delhi Capitals                   94
Delhi Daredevils                223
Gujarat Lions                   119
Gujarat Titans                   58
Kings XI Punjab                 409
Kochi Tuskers Kerala             27
Kolkata Knight Riders           563
Lucknow Super Giants             25
Mumbai Indians                  308
Pune Warriors                    94
Punjab Kings                     66
Rajasthan Royals                126
Rising Pune Supergiant           28
Rising Pune Supergiants         108
Royal Challengers Bangalore    3216
Sunrisers Hyderabad             335
Name: batsman_run, dtype: int64

In [ ]:
sum_batsman_run_per_team1 + sum_batsman_run_per_team2

Chennai Super Kings             979.0
Deccan Chargers                 306.0
Delhi Capitals                  164.0
Delhi Daredevils                761.0
Gujarat Lions                   283.0
Gujarat Titans                  131.0
Kings XI Punjab                 681.0
Kochi Tuskers Kerala             50.0
Kolkata Knight Riders           786.0
Lucknow Super Giants              NaN
Mumbai Indians                  774.0
Pune Warriors                   128.0
Punjab Kings                    121.0
Rajasthan Royals                600.0
Rising Pune Supergiant           83.0
Rising Pune Supergiants         188.0
Royal Challengers Bangalore    6634.0
Sunrisers Hyderabad             574.0
Name: batsman_run, dtype: float64

In [ ]:
sum_batsman_run_per_team1

Team1
Chennai Super Kings             325
Deccan Chargers                 125
Delhi Capitals                   70
Delhi Daredevils                538
Gujarat Lions                   164
Gujarat Titans                   73
Kings XI Punjab                 272
Kochi Tuskers Kerala             23
Kolkata Knight Riders           223
Mumbai Indians                  466
Pune Warriors                    34
Punjab Kings                     55
Rajasthan Royals                474
Rising Pune Supergiant           55
Rising Pune Supergiants          80
Royal Challengers Bangalore    3418
Sunrisers Hyderabad             239
Name: batsman_run, dtype: int64

In [ ]:
merged_df

,Team1,batsman_run_x,Team2,batsman_run_y
0,Chennai Super Kings,325,Chennai Super Kings,654
1,Deccan Chargers,125,Deccan Chargers,181
2,Delhi Capitals,70,Delhi Capitals,94
3,Delhi Daredevils,538,Delhi Daredevils,223
4,Gujarat Lions,164,Gujarat Lions,119
5,Gujarat Titans,73,Gujarat Titans,58
6,Kings XI Punjab,272,Kings XI Punjab,409
7,Kochi Tuskers Kerala,23,Kochi Tuskers Kerala,27
8,Kolkata Knight Riders,223,Kolkata Knight Riders,563
9,Mumbai Indians,466,Mumbai Indians,308
10,Pune Warriors,34,Pune Warriors,94
11,Punjab Kings,55,Punjab Kings,66
12,Rajasthan Royals,474,Rajasthan Royals,126
13,Rising Pune Supergiant,55,Rising Pune Supergiant,28
14,Rising Pune Supergiants,80,Rising Pune Supergiants,108
15,Royal Challengers Bangalore,3418,Royal Challengers Bangalore,3216
16,Sunrisers Hyderabad,239,Sunrisers Hyderabad,335

In [ ]:
merged_df = pd.merge(sum_batsman_run_per_team1, sum_batsman_run_per_team2,
                     how='inner', left_on='Team1', right_on='Team2')

print(merged_df)

                          Team1  batsman_run_x                        Team2  \
0           Chennai Super Kings            325          Chennai Super Kings
1               Deccan Chargers            125              Deccan Chargers
2                Delhi Capitals             70               Delhi Capitals
3              Delhi Daredevils            538             Delhi Daredevils
4                 Gujarat Lions            164                Gujarat Lions
5                Gujarat Titans             73               Gujarat Titans
6               Kings XI Punjab            272              Kings XI Punjab
7          Kochi Tuskers Kerala             23         Kochi Tuskers Kerala
8         Kolkata Knight Riders            223        Kolkata Knight Riders
9                Mumbai Indians            466               Mumbai Indians
10                Pune Warriors             34                Pune Warriors
11                 Punjab Kings             55                 Punjab Kings
12             Rajasthan Royals            474             Rajasthan Royals
13       Rising Pune Supergiant             55       Rising Pune Supergiant
14      Rising Pune Supergiants             80      Rising Pune Supergiants
15  Royal Challengers Bangalore           3418  Royal Challengers Bangalore
16          Sunrisers Hyderabad            239          Sunrisers Hyderabad

    batsman_run_y
0             654
1             181
2              94
3             223
4             119
5              58
6             409
7              27
8             563
9             308
10             94
11             66
12            126
13             28
14            108
15           3216
16            335

In [ ]:
import pandas as pd

def calculate_total_runs_per_team(df):
    # Calculate the sum of runs for each team using groupby
    sum_batsman_run_per_team1 = df.groupby(['Team1'])['batsman_run'].sum()
    sum_batsman_run_per_team2 = df.groupby(['Team2'])['batsman_run'].sum()

    # Combine the sums from both groups
    total_runs_per_team = sum_batsman_run_per_team1 + sum_batsman_run_per_team2

    return total_runs_per_team

# Assuming you have a DataFrame named 'df'
# df = ...

# Call the function and print the result
total_runs_per_team = calculate_total_runs_per_team(df)
print(total_runs_per_team)

Chennai Super Kings             979.0
Deccan Chargers                 306.0
Delhi Capitals                  164.0
Delhi Daredevils                761.0
Gujarat Lions                   283.0
Gujarat Titans                  131.0
Kings XI Punjab                 681.0
Kochi Tuskers Kerala             50.0
Kolkata Knight Riders           786.0
Lucknow Super Giants              NaN
Mumbai Indians                  774.0
Pune Warriors                   128.0
Punjab Kings                    121.0
Rajasthan Royals                600.0
Rising Pune Supergiant           83.0
Rising Pune Supergiants         188.0
Royal Challengers Bangalore    6634.0
Sunrisers Hyderabad             574.0
Name: batsman_run, dtype: float64

In [ ]:
import pandas as pd
import numpy as np
import json

class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        if isinstance(obj, np.floating):
            return float(obj)
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        return super(NpEncoder, self).default(obj)

def batsmanRecord(batsman, df):
    if df.empty:
        return np.nan
    out = df[df.player_out == batsman].shape[0]
    df = df[df['batter'] == batsman]
    inngs = df.ID.nunique()
    runs = df.batsman_run.sum()
    fours = df[(df.batsman_run == 4) & (df.non_boundary == 0)].shape[0]
    sixes = df[(df.batsman_run == 6) & (df.non_boundary == 0)].shape[0]
    if out:
        avg = runs / out
    else:
        avg = np.inf

    nballs = df[~(df.extra_type == 'wides')].shape[0]
    if nballs:
        strike_rate = runs / nballs * 100
    else:
        strike_rate = 0
    gb = df.groupby('ID').sum()
    fifties = gb[(gb.batsman_run >= 50) & (gb.batsman_run < 100)].shape[0]
    hundreds = gb[gb.batsman_run >= 100].shape[0]
    try:
        highest_score = gb.batsman_run.max()
        hsindex = gb.batsman_run.idxmax()
        if (df[df.ID == hsindex].player_out == batsman).any():
            highest_score = str(highest_score)
        else:
            highest_score = str(highest_score) + '*'
    except:
        highest_score = gb.batsman_run.max()

    not_out = inngs - out
    mom = df[df.Player_of_the_Match == batsman].drop_duplicates('ID', keep='first').shape[0]
    data = {
        'innings': inngs,
        'runs': runs,
        'fours': fours,
        'sixes': sixes,
        'avg': avg,
        'strikeRate': strike_rate,
        'fifties': fifties,
        'hundreds': hundreds,
        'highestScore': highest_score,
        'notOut': not_out,
        'mom': mom
    }

    return data

def batsmanVsTeam(batsman, team, df):
    df = df[df.Team2 == team].copy()
    return batsmanRecord(batsman, df)

def batsmanAPI(batsman, balls=batter_data):
    df = balls[balls.innings.isin([1, 2])]  # Excluding Super overs
    self_record = batsmanRecord(batsman, df=df)
    TEAMS = matches.Team1.unique()
    against = {team: batsmanVsTeam(batsman, team, df) for team in TEAMS}
    data = {
        batsman: {'all': self_record,
                  'against': against}
    }
    return json.dumps(data, cls=NpEncoder)

# Modify bowler_data according to your previous data
bowler_data = iplball_matches.copy()

# Call the function and print the result for a specific batsman
batsman_name = 'V Kohli'  # Replace with the desired batsman's name
result = batsmanAPI(batsman_name, balls=bowler_data)
print(result)

NameError: ignored

In [ ]:
def batsmanRecord(batsman, df):
    if df.empty:
        return np.nan
    out = df[df.player_out == batsman].shape[0]
    df = df[df['batter'] == batsman]
    inngs = df.ID.nunique()
    runs = df.batsman_run.sum()
    fours = df[(df.batsman_run == 4) & (df.non_boundary == 0)].shape[0]
    sixes = df[(df.batsman_run == 6) & (df.non_boundary == 0)].shape[0]
    if out:
        avg = runs / out
    else:
        avg = np.inf

    nballs = df[~(df.extra_type == 'wides')].shape[0]
    if nballs:
        strike_rate = runs / nballs * 100
    else:
        strike_rate = 0
    gb = df.groupby('ID').sum()
    fifties = gb[(gb.batsman_run >= 50) & (gb.batsman_run < 100)].shape[0]
    hundreds = gb[gb.batsman_run >= 100].shape[0]
    try:
        highest_score = gb.batsman_run.max()
        hsindex = gb.batsman_run.idxmax()
        if (df[df.ID == hsindex].player_out == batsman).any():
            highest_score = str(highest_score)
        else:
            highest_score = str(highest_score) + '*'
    except:
        highest_score = gb.batsman_run.max()

    not_out = inngs - out
    mom = df[df.Player_of_Match == batsman].drop_duplicates('ID', keep='first').shape[0]
    data = {
        'innings': inngs,
        'runs': runs,
        'fours': fours,
        'sixes': sixes,
        'avg': avg,
        'strikeRate': strike_rate,
        'fifties': fifties,
        'hundreds': hundreds,
        'highestScore': highest_score,
        'notOut': not_out,
        'mom': mom
    }
    return data


# Call the function and print the result for a specific batsman
batsman_name = 'V Kohli'  # Replace with the desired batsman's name
result = batsmanAPI(batsman_name, matches, batter_data)
print(result)

<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()

{"V Kohli": {"all": {"innings": 215, "runs": 6624, "fours": 578, "sixes": 218, "avg": 36.19672131147541, "strikeRate": 129.14798206278027, "fifties": 44, "hundreds": 5, "highestScore": "113", "notOut": 32, "mom": 14}, "against": {"Rajasthan Royals": {"innings": 26, "runs": 600, "fours": 49, "sixes": 18, "avg": 27.272727272727273, "strikeRate": 115.38461538461537, "fifties": 4, "hundreds": 0, "highestScore": "72*", "notOut": 4, "mom": 0}, "Royal Challengers Bangalore": {"innings": 0, "runs": 0, "fours": 0, "sixes": 0, "avg": Infinity, "strikeRate": 0, "fifties": 0, "hundreds": 0, "highestScore": NaN, "notOut": 0, "mom": 0}, "Sunrisers Hyderabad": {"innings": 20, "runs": 569, "fours": 54, "sixes": 21, "avg": 31.61111111111111, "strikeRate": 136.77884615384613, "fifties": 4, "hundreds": 0, "highestScore": "93*", "notOut": 2, "mom": 2}, "Delhi Capitals": {"innings": 7, "runs": 164, "fours": 10, "sixes": 5, "avg": 23.428571428571427, "strikeRate": 112.32876712328768, "fifties": 0, "hundreds": 0, "highestScore": "43", "notOut": 0, "mom": 0}, "Chennai Super Kings": {"innings": 29, "runs": 979, "fours": 72, "sixes": 37, "avg": 39.16, "strikeRate": 125.35211267605635, "fifties": 9, "hundreds": 0, "highestScore": "90*", "notOut": 4, "mom": 2}, "Gujarat Titans": {"innings": 2, "runs": 131, "fours": 14, "sixes": 3, "avg": 65.5, "strikeRate": 122.42990654205607, "fifties": 2, "hundreds": 0, "highestScore": "73", "notOut": 0, "mom": 1}, "Lucknow Super Giants": {"innings": 2, "runs": 25, "fours": 2, "sixes": 0, "avg": 12.5, "strikeRate": 100.0, "fifties": 0, "hundreds": 0, "highestScore": "25", "notOut": 0, "mom": 0}, "Kolkata Knight Riders": {"innings": 27, "runs": 786, "fours": 70, "sixes": 22, "avg": 35.72727272727273, "strikeRate": 129.48929159802307, "fifties": 4, "hundreds": 1, "highestScore": "100", "notOut": 5, "mom": 2}, "Punjab Kings": {"innings": 4, "runs": 121, "fours": 8, "sixes": 5, "avg": 40.333333333333336, "strikeRate": 119.80198019801979, "fifties": 0, "hundreds": 0, "highestScore": "41*", "notOut": 1, "mom": 0}, "Mumbai Indians": {"innings": 29, "runs": 769, "fours": 64, "sixes": 27, "avg": 29.576923076923077, "strikeRate": 125.65359477124183, "fifties": 4, "hundreds": 0, "highestScore": "92*", "notOut": 3, "mom": 0}, "Kings XI Punjab": {"innings": 25, "runs": 681, "fours": 77, "sixes": 18, "avg": 29.608695652173914, "strikeRate": 129.46768060836501, "fifties": 2, "hundreds": 1, "highestScore": "113", "notOut": 2, "mom": 1}, "Delhi Daredevils": {"innings": 18, "runs": 761, "fours": 74, "sixes": 22, "avg": 69.18181818181819, "strikeRate": 139.88970588235296, "fifties": 8, "hundreds": 0, "highestScore": "99", "notOut": 7, "mom": 3}, "Rising Pune Supergiant": {"innings": 2, "runs": 83, "fours": 7, "sixes": 2, "avg": 41.5, "strikeRate": 123.88059701492537, "fifties": 1, "hundreds": 0, "highestScore": "55", "notOut": 0, "mom": 0}, "Gujarat Lions": {"innings": 5, "runs": 283, "fours": 23, "sixes": 11, "avg": 70.75, "strikeRate": 154.6448087431694, "fifties": 1, "hundreds": 2, "highestScore": "109", "notOut": 1, "mom": 1}, "Rising Pune Supergiants": {"innings": 2, "runs": 188, "fours": 15, "sixes": 9, "avg": 188.0, "strikeRate": 155.37190082644628, "fifties": 1, "hundreds": 1, "highestScore": "108*", "notOut": 1, "mom": 1}, "Pune Warriors": {"innings": 5, "runs": 128, "fours": 9, "sixes": 5, "avg": 25.6, "strikeRate": 128.0, "fifties": 1, "hundreds": 0, "highestScore": "67", "notOut": 0, "mom": 1}, "Deccan Chargers": {"innings": 10, "runs": 306, "fours": 23, "sixes": 13, "avg": 34.0, "strikeRate": 137.83783783783784, "fifties": 3, "hundreds": 0, "highestScore": "71", "notOut": 1, "mom": 0}, "Kochi Tuskers Kerala": {"innings": 2, "runs": 50, "fours": 7, "sixes": 0, "avg": 50.0, "strikeRate": 98.0392156862745, "fifties": 0, "hundreds": 0, "highestScore": "27*", "notOut": 1, "mom": 0}}}}

<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-362-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()

In [ ]:
import pandas as pd
import numpy as np
import json

# Merge ball and match data
ball_withmatch = balls.merge(matches, on='ID', how='inner').copy()
ball_withmatch['BowlingTeam'] = ball_withmatch.Team1 + ball_withmatch.Team2
ball_withmatch['BowlingTeam'] = ball_withmatch[['BowlingTeam', 'BattingTeam']].apply(lambda x: x.values[0].replace(x.values[1], ''), axis=1)
batter_data = ball_withmatch[np.append(balls.columns.values, ['BowlingTeam', 'Player_of_Match'])]

# Read the CSV files
matches = pd.read_csv('/content/ipl-matches.csv')
balls = pd.read_csv('/content/IPL_Ball_by_Ball_2008_2022 - IPL_Ball_by_Ball_2008_2022.csv')

class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        if isinstance(obj, np.floating):
            return float(obj)
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        return super(NpEncoder, self).default(obj)

def batsmanRecord(batsman, df):
    if df.empty:
        return np.nan
    out = df[df.player_out == batsman].shape[0]
    df = df[df['batter'] == batsman]
    inngs = df.ID.nunique()
    runs = df.batsman_run.sum()
    fours = df[(df.batsman_run == 4) & (df.non_boundary == 0)].shape[0]
    sixes = df[(df.batsman_run == 6) & (df.non_boundary == 0)].shape[0]
    if out:
        avg = runs / out
    else:
        avg = np.inf

    nballs = df[~(df.extra_type == 'wides')].shape[0]
    if nballs:
        strike_rate = runs / nballs * 100
    else:
        strike_rate = 0
    gb = df.groupby('ID').sum()
    fifties = gb[(gb.batsman_run >= 50) & (gb.batsman_run < 100)].shape[0]
    hundreds = gb[gb.batsman_run >= 100].shape[0]
    try:
        highest_score = gb.batsman_run.max()
        hsindex = gb.batsman_run.idxmax()
        if (df[df.ID == hsindex].player_out == batsman).any():
            highest_score = str(highest_score)
        else:
            highest_score = str(highest_score) + '*'
    except:
        highest_score = gb.batsman_run.max()

    not_out = inngs - out
    mom = df[df.Player_of_Match == batsman].drop_duplicates('ID', keep='first').shape[0]
    data = {
        'innings': inngs,
        'runs': runs,
        'fours': fours,
        'sixes': sixes,
        'avg': avg,
        'strikeRate': strike_rate,
        'fifties': fifties,
        'hundreds': hundreds,
        'highestScore': highest_score,
        'notOut': not_out,
        'mom': mom
    }
    return data


def batsmanVsTeam(batsman, team, df):
    df = df[df.BowlingTeam == team].copy()
    return batsmanRecord(batsman, df)

def batsmanAPI(batsman, matches, balls):
    df = balls[balls.innings.isin([1, 2])]  # Excluding Super overs
    self_record = batsmanRecord(batsman, df=df)
    TEAMS = matches.Team1.unique()
    against = {team: batsmanVsTeam(batsman, team, df) for team in TEAMS}
    data = {
        batsman: {'all': self_record,
                  'against': against}
    }
    return json.dumps(data, cls=NpEncoder)



# Call the function and print the result for a specific batsman
batsman_name = 'V Kohli'  # Replace with the desired batsman's name
result = batsmanAPI(batsman_name, matches, batter_data)
print(result)

<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()

{"V Kohli": {"all": {"innings": 215, "runs": 6624, "fours": 578, "sixes": 218, "avg": 36.19672131147541, "strikeRate": 129.14798206278027, "fifties": 44, "hundreds": 5, "highestScore": "113", "notOut": 32, "mom": 14}, "against": {"Rajasthan Royals": {"innings": 26, "runs": 600, "fours": 49, "sixes": 18, "avg": 27.272727272727273, "strikeRate": 115.38461538461537, "fifties": 4, "hundreds": 0, "highestScore": "72*", "notOut": 4, "mom": 0}, "Royal Challengers Bangalore": {"innings": 0, "runs": 0, "fours": 0, "sixes": 0, "avg": Infinity, "strikeRate": 0, "fifties": 0, "hundreds": 0, "highestScore": NaN, "notOut": 0, "mom": 0}, "Sunrisers Hyderabad": {"innings": 20, "runs": 569, "fours": 54, "sixes": 21, "avg": 31.61111111111111, "strikeRate": 136.77884615384613, "fifties": 4, "hundreds": 0, "highestScore": "93*", "notOut": 2, "mom": 2}, "Delhi Capitals": {"innings": 7, "runs": 164, "fours": 10, "sixes": 5, "avg": 23.428571428571427, "strikeRate": 112.32876712328768, "fifties": 0, "hundreds": 0, "highestScore": "43", "notOut": 0, "mom": 0}, "Chennai Super Kings": {"innings": 29, "runs": 979, "fours": 72, "sixes": 37, "avg": 39.16, "strikeRate": 125.35211267605635, "fifties": 9, "hundreds": 0, "highestScore": "90*", "notOut": 4, "mom": 2}, "Gujarat Titans": {"innings": 2, "runs": 131, "fours": 14, "sixes": 3, "avg": 65.5, "strikeRate": 122.42990654205607, "fifties": 2, "hundreds": 0, "highestScore": "73", "notOut": 0, "mom": 1}, "Lucknow Super Giants": {"innings": 2, "runs": 25, "fours": 2, "sixes": 0, "avg": 12.5, "strikeRate": 100.0, "fifties": 0, "hundreds": 0, "highestScore": "25", "notOut": 0, "mom": 0}, "Kolkata Knight Riders": {"innings": 27, "runs": 786, "fours": 70, "sixes": 22, "avg": 35.72727272727273, "strikeRate": 129.48929159802307, "fifties": 4, "hundreds": 1, "highestScore": "100", "notOut": 5, "mom": 2}, "Punjab Kings": {"innings": 4, "runs": 121, "fours": 8, "sixes": 5, "avg": 40.333333333333336, "strikeRate": 119.80198019801979, "fifties": 0, "hundreds": 0, "highestScore": "41*", "notOut": 1, "mom": 0}, "Mumbai Indians": {"innings": 29, "runs": 769, "fours": 64, "sixes": 27, "avg": 29.576923076923077, "strikeRate": 125.65359477124183, "fifties": 4, "hundreds": 0, "highestScore": "92*", "notOut": 3, "mom": 0}, "Kings XI Punjab": {"innings": 25, "runs": 681, "fours": 77, "sixes": 18, "avg": 29.608695652173914, "strikeRate": 129.46768060836501, "fifties": 2, "hundreds": 1, "highestScore": "113", "notOut": 2, "mom": 1}, "Delhi Daredevils": {"innings": 18, "runs": 761, "fours": 74, "sixes": 22, "avg": 69.18181818181819, "strikeRate": 139.88970588235296, "fifties": 8, "hundreds": 0, "highestScore": "99", "notOut": 7, "mom": 3}, "Rising Pune Supergiant": {"innings": 2, "runs": 83, "fours": 7, "sixes": 2, "avg": 41.5, "strikeRate": 123.88059701492537, "fifties": 1, "hundreds": 0, "highestScore": "55", "notOut": 0, "mom": 0}, "Gujarat Lions": {"innings": 5, "runs": 283, "fours": 23, "sixes": 11, "avg": 70.75, "strikeRate": 154.6448087431694, "fifties": 1, "hundreds": 2, "highestScore": "109", "notOut": 1, "mom": 1}, "Rising Pune Supergiants": {"innings": 2, "runs": 188, "fours": 15, "sixes": 9, "avg": 188.0, "strikeRate": 155.37190082644628, "fifties": 1, "hundreds": 1, "highestScore": "108*", "notOut": 1, "mom": 1}, "Pune Warriors": {"innings": 5, "runs": 128, "fours": 9, "sixes": 5, "avg": 25.6, "strikeRate": 128.0, "fifties": 1, "hundreds": 0, "highestScore": "67", "notOut": 0, "mom": 1}, "Deccan Chargers": {"innings": 10, "runs": 306, "fours": 23, "sixes": 13, "avg": 34.0, "strikeRate": 137.83783783783784, "fifties": 3, "hundreds": 0, "highestScore": "71", "notOut": 1, "mom": 0}, "Kochi Tuskers Kerala": {"innings": 2, "runs": 50, "fours": 7, "sixes": 0, "avg": 50.0, "strikeRate": 98.0392156862745, "fifties": 0, "hundreds": 0, "highestScore": "27*", "notOut": 1, "mom": 0}}}}

<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-363-a1bec641780b>:38: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()

In [ ]:
def batsmanRecord(batsman, df):
    if df.empty:
        return np.nan
    out = df[df.player_out == batsman].shape[0]
    df = df[df['batter'] == batsman]
    inngs = df.ID.unique().shape[0]
    runs = df.batsman_run.sum()
    fours = df[(df.batsman_run == 4) & (df.non_boundary == 0)].shape[0]
    sixes = df[(df.batsman_run == 6) & (df.non_boundary == 0)].shape[0]
    if out:
        avg = runs / out
    else:
        avg = np.inf

    nballs = df[~(df.extra_type == 'wides')].shape[0]
    if nballs:
        strike_rate = runs / nballs * 100
    else:
        strike_rate = 0
    gb = df.groupby('ID').sum()
    fifties = gb[(gb.batsman_run >= 50) & (gb.batsman_run < 100)].shape[0]
    hundreds = gb[gb.batsman_run >= 100].shape[0]
    try:
        highest_score = gb.batsman_run.sort_values(ascending=False).head(1).values[0]
        hsindex = gb.batsman_run.sort_values(ascending=False).head(1).index[0]
        if (df[df.ID == hsindex].player_out == batsman).any():
            highest_score = str(highest_score)
        else:
            highest_score = str(highest_score) + '*'
    except:
        highest_score = gb.batsman_run.max()

    not_out = inngs - out
    mom = df[df.Player_of_Match == batsman].drop_duplicates('ID', keep='first').shape[0]
    data = {
        'innings': inngs,
        'runs': runs,
        'fours': fours,
        'sixes': sixes,
        'avg': avg,
        'strikeRate': strike_rate,
        'fifties': fifties,
        'hundreds': hundreds,
        'highestScore': highest_score,
        'notOut': not_out,
        'mom': mom
    }

    return data


def batsmanVsTeam(batsman, team, df):
    df = df[df.BowlingTeam == team].copy()
    return batsmanRecord(batsman, df)


def batsmanAPI(batsman, balls=batter_data):
    df = balls[balls.innings.isin([1, 2])]  # Excluding Super overs
    self_record = batsmanRecord(batsman, df=df)
    TEAMS = matches.Team1.unique()
    against = {team: batsmanVsTeam(batsman, team, df) for team in TEAMS}
    data = {
        batsman: {'all': self_record,
                  'against': against}
    }
    return json.dumps(data, cls=NpEncoder)

bowler_data = batter_data.copy()

In [ ]:
batsmanAPI('V Kohli')

<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-364-3ab6cb8aef0d>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()

'{"V Kohli": {"all": {"innings": 215, "runs": 6624, "fours": 578, "sixes": 218, "avg": 36.19672131147541, "strikeRate": 129.14798206278027, "fifties": 44, "hundreds": 5, "highestScore": "113", "notOut": 32, "mom": 14}, "against": {"Rajasthan Royals": {"innings": 26, "runs": 600, "fours": 49, "sixes": 18, "avg": 27.272727272727273, "strikeRate": 115.38461538461537, "fifties": 4, "hundreds": 0, "highestScore": "72*", "notOut": 4, "mom": 0}, "Royal Challengers Bangalore": {"innings": 0, "runs": 0, "fours": 0, "sixes": 0, "avg": Infinity, "strikeRate": 0, "fifties": 0, "hundreds": 0, "highestScore": NaN, "notOut": 0, "mom": 0}, "Sunrisers Hyderabad": {"innings": 20, "runs": 569, "fours": 54, "sixes": 21, "avg": 31.61111111111111, "strikeRate": 136.77884615384613, "fifties": 4, "hundreds": 0, "highestScore": "93*", "notOut": 2, "mom": 2}, "Delhi Capitals": {"innings": 7, "runs": 164, "fours": 10, "sixes": 5, "avg": 23.428571428571427, "strikeRate": 112.32876712328768, "fifties": 0, "hundreds": 0, "highestScore": "43", "notOut": 0, "mom": 0}, "Chennai Super Kings": {"innings": 29, "runs": 979, "fours": 72, "sixes": 37, "avg": 39.16, "strikeRate": 125.35211267605635, "fifties": 9, "hundreds": 0, "highestScore": "90*", "notOut": 4, "mom": 2}, "Gujarat Titans": {"innings": 2, "runs": 131, "fours": 14, "sixes": 3, "avg": 65.5, "strikeRate": 122.42990654205607, "fifties": 2, "hundreds": 0, "highestScore": "73", "notOut": 0, "mom": 1}, "Lucknow Super Giants": {"innings": 2, "runs": 25, "fours": 2, "sixes": 0, "avg": 12.5, "strikeRate": 100.0, "fifties": 0, "hundreds": 0, "highestScore": "25", "notOut": 0, "mom": 0}, "Kolkata Knight Riders": {"innings": 27, "runs": 786, "fours": 70, "sixes": 22, "avg": 35.72727272727273, "strikeRate": 129.48929159802307, "fifties": 4, "hundreds": 1, "highestScore": "100", "notOut": 5, "mom": 2}, "Punjab Kings": {"innings": 4, "runs": 121, "fours": 8, "sixes": 5, "avg": 40.333333333333336, "strikeRate": 119.80198019801979, "fifties": 0, "hundreds": 0, "highestScore": "41*", "notOut": 1, "mom": 0}, "Mumbai Indians": {"innings": 29, "runs": 769, "fours": 64, "sixes": 27, "avg": 29.576923076923077, "strikeRate": 125.65359477124183, "fifties": 4, "hundreds": 0, "highestScore": "92*", "notOut": 3, "mom": 0}, "Kings XI Punjab": {"innings": 25, "runs": 681, "fours": 77, "sixes": 18, "avg": 29.608695652173914, "strikeRate": 129.46768060836501, "fifties": 2, "hundreds": 1, "highestScore": "113", "notOut": 2, "mom": 1}, "Delhi Daredevils": {"innings": 18, "runs": 761, "fours": 74, "sixes": 22, "avg": 69.18181818181819, "strikeRate": 139.88970588235296, "fifties": 8, "hundreds": 0, "highestScore": "99", "notOut": 7, "mom": 3}, "Rising Pune Supergiant": {"innings": 2, "runs": 83, "fours": 7, "sixes": 2, "avg": 41.5, "strikeRate": 123.88059701492537, "fifties": 1, "hundreds": 0, "highestScore": "55", "notOut": 0, "mom": 0}, "Gujarat Lions": {"innings": 5, "runs": 283, "fours": 23, "sixes": 11, "avg": 70.75, "strikeRate": 154.6448087431694, "fifties": 1, "hundreds": 2, "highestScore": "109", "notOut": 1, "mom": 1}, "Rising Pune Supergiants": {"innings": 2, "runs": 188, "fours": 15, "sixes": 9, "avg": 188.0, "strikeRate": 155.37190082644628, "fifties": 1, "hundreds": 1, "highestScore": "108*", "notOut": 1, "mom": 1}, "Pune Warriors": {"innings": 5, "runs": 128, "fours": 9, "sixes": 5, "avg": 25.6, "strikeRate": 128.0, "fifties": 1, "hundreds": 0, "highestScore": "67", "notOut": 0, "mom": 1}, "Deccan Chargers": {"innings": 10, "runs": 306, "fours": 23, "sixes": 13, "avg": 34.0, "strikeRate": 137.83783783783784, "fifties": 3, "hundreds": 0, "highestScore": "71", "notOut": 1, "mom": 0}, "Kochi Tuskers Kerala": {"innings": 2, "runs": 50, "fours": 7, "sixes": 0, "avg": 50.0, "strikeRate": 98.0392156862745, "fifties": 0, "hundreds": 0, "highestScore": "27*", "notOut": 1, "mom": 0}}}}'

In [ ]:
ipl_matches = 'ipl-matches.csv'
matches = pd.read_csv(ipl_matches)
ipl_ball = 'IPL_Ball_by_Ball_2008_2022 - IPL_Ball_by_Ball_2008_2022.csv'
balls = pd.read_csv(ipl_ball)
ball_withmatch = balls.merge(matches, on='ID', how='inner').copy()
ball_withmatch['BowlingTeam'] = ball_withmatch.Team1 + ball_withmatch.Team2
ball_withmatch['BowlingTeam'] = ball_withmatch[['BowlingTeam', 'BattingTeam']].apply(
    lambda x: x.values[0].replace(x.values[1], ''), axis=1)
batter_data = ball_withmatch[np.append(balls.columns.values, ['BowlingTeam', 'Player_of_Match'])]
bowler_data = batter_data.copy()


def bowlerRun(x):
    if x[0] in ['penalty', 'legbyes', 'byes']:
        return 0
    else:
        return x[1]


bowler_data['bowler_run'] = bowler_data[['extra_type', 'total_run']].apply(bowlerRun, axis=1)


def bowlerWicket(x):
    if x[0] in ['caught', 'caught and bowled', 'bowled', 'stumped', 'lbw', 'hit wicket']:
        return x[1]
    else:
        return 0


bowler_data['isBowlerWicket'] = bowler_data[['kind', 'isWicketDelivery']].apply(bowlerWicket, axis=1)


def bowlerRecord(bowler, df):
    # if df.empty:
    # return np.nan

    df = df[df['bowler'] == bowler]
    inngs = df.ID.unique().shape[0]
    nballs = df[~(df.extra_type.isin(['wides', 'noballs']))].shape[0]
    runs = df['bowler_run'].sum()
    if nballs:
        eco = runs / nballs * 6
    else:
        eco = 0
    fours = df[(df.batsman_run == 4) & (df.non_boundary == 0)].shape[0]
    sixes = df[(df.batsman_run == 6) & (df.non_boundary == 0)].shape[0]

    wicket = df.isBowlerWicket.sum()
    if wicket:
        avg = runs / wicket
    else:
        avg = np.inf

    if wicket:
        strike_rate = nballs / wicket * 100
    else:
        strike_rate = np.nan

    gb = df.groupby('ID').sum()
    w3 = gb[(gb.isBowlerWicket >= 3)].shape[0]

    best_wicket = gb.sort_values(['isBowlerWicket', 'bowler_run'], ascending=[False, True])[
        ['isBowlerWicket', 'bowler_run']].head(1).values
    if best_wicket.size > 0:

        best_figure = f'{best_wicket[0][0]}/{best_wicket[0][1]}'
    else:
        best_figure = np.nan
    mom = df[df.Player_of_Match == bowler].drop_duplicates('ID', keep='first').shape[0]
    data = {
        'innings': inngs,
        'wicket': wicket,
        'economy': eco,
        'average': avg,
        'avg': avg,
        'strikeRate': strike_rate,
        'fours': fours,
        'sixes': sixes,
        'best_figure': best_figure,
        '3+W': w3,
        'mom': mom
    }

    return data


def bowlerVsTeam(bowler, team, df):
    df = df[df.BattingTeam == team].copy()
    return bowlerRecord(bowler, df)


def bowlerAPI(bowler, balls=bowler_data):
    df = balls[balls.innings.isin([1, 2])]  # Excluding Super overs
    self_record = bowlerRecord(bowler, df=df)
    TEAMS = matches.Team1.unique()
    against = {team: bowlerVsTeam(bowler, team, df) for team in TEAMS}
    data = {
        bowler: {'all': self_record,
                 'against': against}
    }
    return json.dumps(data, cls=NpEncoder)

In [369]:
bowlerAPI('B Kumar')

<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()
<ipython-input-366-440b782c8244>:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df.groupby('ID').sum()

'{"B Kumar": {"all": {"innings": 146, "wicket": 154, "economy": 7.304107909258124, "average": 25.785714285714285, "avg": 25.785714285714285, "strikeRate": 2118.1818181818185, "fours": 400, "sixes": 111, "best_figure": "5/19", "3+W": 13, "mom": 5}, "against": {"Rajasthan Royals": {"innings": 14, "wicket": 14, "economy": 7.963302752293579, "average": 31.0, "avg": 31.0, "strikeRate": 2335.714285714286, "fours": 55, "sixes": 9, "best_figure": "4/14", "3+W": 2, "mom": 1}, "Royal Challengers Bangalore": {"innings": 20, "wicket": 17, "economy": 7.625282167042889, "average": 33.11764705882353, "avg": 33.11764705882353, "strikeRate": 2605.8823529411766, "fours": 68, "sixes": 17, "best_figure": "2/16", "3+W": 0, "mom": 0}, "Sunrisers Hyderabad": {"innings": 2, "wicket": 4, "economy": 4.375, "average": 8.75, "avg": 8.75, "strikeRate": 1200.0, "fours": 3, "sixes": 0, "best_figure": "3/18", "3+W": 1, "mom": 0}, "Delhi Capitals": {"innings": 6, "wicket": 9, "economy": 7.521739130434783, "average": 19.22222222222222, "avg": 19.22222222222222, "strikeRate": 1533.3333333333335, "fours": 18, "sixes": 6, "best_figure": "2/25", "3+W": 0, "mom": 0}, "Chennai Super Kings": {"innings": 17, "wicket": 11, "economy": 6.7927461139896375, "average": 39.72727272727273, "avg": 39.72727272727273, "strikeRate": 3509.0909090909095, "fours": 34, "sixes": 17, "best_figure": "2/12", "3+W": 0, "mom": 0}, "Gujarat Titans": {"innings": 2, "wicket": 2, "economy": 8.75, "average": 35.0, "avg": 35.0, "strikeRate": 2400.0, "fours": 6, "sixes": 1, "best_figure": "2/37", "3+W": 0, "mom": 0}, "Lucknow Super Giants": {"innings": 1, "wicket": 0, "economy": 6.25, "average": Infinity, "avg": Infinity, "strikeRate": NaN, "fours": 1, "sixes": 0, "best_figure": "0/25", "3+W": 0, "mom": 0}, "Kolkata Knight Riders": {"innings": 25, "wicket": 30, "economy": 7.67391304347826, "average": 23.533333333333335, "avg": 23.533333333333335, "strikeRate": 1839.9999999999998, "fours": 73, "sixes": 20, "best_figure": "3/19", "3+W": 4, "mom": 0}, "Punjab Kings": {"innings": 4, "wicket": 5, "economy": 7.23076923076923, "average": 18.8, "avg": 18.8, "strikeRate": 1560.0, "fours": 8, "sixes": 3, "best_figure": "3/22", "3+W": 1, "mom": 0}, "Mumbai Indians": {"innings": 16, "wicket": 19, "economy": 6.4363636363636365, "average": 18.63157894736842, "avg": 18.63157894736842, "strikeRate": 1736.842105263158, "fours": 33, "sixes": 8, "best_figure": "3/21", "3+W": 2, "mom": 1}, "Kings XI Punjab": {"innings": 14, "wicket": 21, "economy": 7.101265822784811, "average": 17.80952380952381, "avg": 17.80952380952381, "strikeRate": 1504.7619047619048, "fours": 35, "sixes": 13, "best_figure": "5/19", "3+W": 2, "mom": 1}, "Delhi Daredevils": {"innings": 12, "wicket": 5, "economy": 7.729166666666666, "average": 74.2, "avg": 74.2, "strikeRate": 5760.0, "fours": 36, "sixes": 10, "best_figure": "1/20", "3+W": 0, "mom": 0}, "Rising Pune Supergiant": {"innings": 2, "wicket": 1, "economy": 9.75, "average": 78.0, "avg": 78.0, "strikeRate": 4800.0, "fours": 7, "sixes": 3, "best_figure": "1/39", "3+W": 0, "mom": 0}, "Gujarat Lions": {"innings": 5, "wicket": 12, "economy": 6.724137931034482, "average": 10.833333333333334, "avg": 10.833333333333334, "strikeRate": 966.6666666666666, "fours": 14, "sixes": 1, "best_figure": "4/29", "3+W": 1, "mom": 2}, "Rising Pune Supergiants": {"innings": 2, "wicket": 2, "economy": 5.285714285714286, "average": 18.5, "avg": 18.5, "strikeRate": 2100.0, "fours": 2, "sixes": 1, "best_figure": "1/17", "3+W": 0, "mom": 0}, "Pune Warriors": {"innings": 0, "wicket": 0, "economy": 0, "average": Infinity, "avg": Infinity, "strikeRate": NaN, "fours": 0, "sixes": 0, "best_figure": NaN, "3+W": 0, "mom": 0}, "Deccan Chargers": {"innings": 4, "wicket": 2, "economy": 6.9230769230769225, "average": 45.0, "avg": 45.0, "strikeRate": 3900.0, "fours": 7, "sixes": 2, "best_figure": "1/22", "3+W": 0, "mom": 0}, "Kochi Tuskers Kerala": {"innings": 0, "wicket": 0, "economy": 0, "average": Infinity, "avg": Infinity, "strikeRate": NaN, "fours": 0, "sixes": 0, "best_figure": NaN, "3+W": 0, "mom": 0}}}}'

In [3]:
matches = pd.read_csv('/content/ipl-matches.csv')

In [4]:
matches.head(5)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [8]:
matches['TossDecision'].value_counts()

field    599
bat      351
Name: TossDecision, dtype: int64

In [35]:
city_counts = matches['Venue'].value_counts()
index_list = list(city_counts.index)

In [48]:
df = matches[matches['City'] == 'Ahmedabad']
total_matches = df['ID'].value_counts().sum()
toss = df['TossDecision'].value_counts()
win_loss = df['WonBy'].value_counts()

19

In [21]:
balls = pd.read_csv('/content/IPL_Ball_by_Ball_2008_2022 - IPL_Ball_by_Ball_2008_2022.csv')

In [22]:
balls.head(5)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [ ]:
def toss_related_info():
    matches['TossDecision'].value_counts()
    matches['WonBy'].value_counts()
    matches['Player_of_Match'].value_counts()
    matches['City'].value_counts()

In [61]:
def stadium_related_info():
    venue_counts = matches['Venue'].value_counts()
    index_list = list(venue_counts.index)

    stadium_info = {}

    for venue in index_list:
        df = matches[matches['Venue'] == venue]
        df_merged = pd.merge(df, balls, left_on='ID', right_on='ID', how='left')

        total_matches = df.shape[0]
        toss = df['TossDecision'].value_counts().to_dict()
        win_loss = df['WinningTeam'].value_counts().to_dict()

        average_runs = (df_merged['total_run']).mean()

        batting_avg = df_merged.groupby(['batter'])['batsman_run'].mean().to_dict()
        bowling_avg = df_merged.groupby(['bowler'])['batsman_run'].mean().to_dict()
        common_result = df['Match_Result'].mode().iloc[0]

        highest_run_scorer = df_merged.loc[df_merged['batsman_run'].idxmax(), 'batter']
        highest_wicket_taker = df_merged.loc[df_merged['isWicketDelivery'].idxmax(), 'bowler']

        df_merged['Margin'] = abs(df_merged['batsman_run'] - df_merged['total_run'])
        closest_match = df_merged.loc[df_merged['Margin'].idxmin()]

        res = {
            'total_matches': total_matches,
            'toss_win_loss': toss,
            'win_loss': win_loss,
            'average_runs': average_runs,
            'batting_avg': batting_avg,
            'bowling_avg': bowling_avg,
            'common_result': common_result,
            'highest_run_scorer': highest_run_scorer,
            'highest_wicket_taker': highest_wicket_taker,
            'closest_match': closest_match.to_dict()
        }

        stadium_info[venue] = res

    return stadium_info

In [62]:
stadium_related_info()

KeyError: ignored

In [63]:
def stadium_related_info():
    venue_counts = matches['Venue'].value_counts()
    index_list = list(venue_counts.index)

    stadium_info = {}

    for venue in index_list:
        df = matches[matches['Venue'] == venue]
        total_matches = df.shape[0]
        toss = df['TossDecision'].value_counts()
        win_loss = df['WonBy'].value_counts()

        res = {
            'total_matches': total_matches,
            'toss_win_loss': toss.to_dict(),
            'win_loss': win_loss.to_dict()
        }

        stadium_info[venue] = res

    return stadium_info

In [64]:
stadium_related_info()

{'Eden Gardens': {'total_matches': 77,
  'toss_win_loss': {'field': 49, 'bat': 28},
  'win_loss': {'Wickets': 45, 'Runs': 32}},
 'Wankhede Stadium': {'total_matches': 73,
  'toss_win_loss': {'field': 51, 'bat': 22},
  'win_loss': {'Wickets': 37, 'Runs': 35, 'SuperOver': 1}},
 'M Chinnaswamy Stadium': {'total_matches': 65,
  'toss_win_loss': {'field': 57, 'bat': 8},
  'win_loss': {'Wickets': 36, 'Runs': 26, 'NoResults': 2, 'SuperOver': 1}},
 'Feroz Shah Kotla': {'total_matches': 60,
  'toss_win_loss': {'field': 34, 'bat': 26},
  'win_loss': {'Wickets': 31, 'Runs': 28, 'NoResults': 1}},
 'Rajiv Gandhi International Stadium, Uppal': {'total_matches': 49,
  'toss_win_loss': {'field': 26, 'bat': 23},
  'win_loss': {'Wickets': 28, 'Runs': 20, 'SuperOver': 1}},
 'MA Chidambaram Stadium, Chepauk': {'total_matches': 48,
  'toss_win_loss': {'bat': 34, 'field': 14},
  'win_loss': {'Runs': 30, 'Wickets': 17, 'SuperOver': 1}},
 'Sawai Mansingh Stadium': {'total_matches': 47,
  'toss_win_loss': {'field': 28, 'bat': 19},
  'win_loss': {'Wickets': 32, 'Runs': 15}},
 'Dubai International Cricket Stadium': {'total_matches': 46,
  'toss_win_loss': {'field': 27, 'bat': 19},
  'win_loss': {'Wickets': 22, 'Runs': 21, 'SuperOver': 3}},
 'Punjab Cricket Association Stadium, Mohali': {'total_matches': 35,
  'toss_win_loss': {'field': 21, 'bat': 14},
  'win_loss': {'Wickets': 20, 'Runs': 15}},
 'Wankhede Stadium, Mumbai': {'total_matches': 31,
  'toss_win_loss': {'field': 24, 'bat': 7},
  'win_loss': {'Wickets': 19, 'Runs': 12}},
 'Sheikh Zayed Stadium': {'total_matches': 29,
  'toss_win_loss': {'bat': 15, 'field': 14},
  'win_loss': {'Wickets': 16, 'Runs': 11, 'SuperOver': 2}},
 'Sharjah Cricket Stadium': {'total_matches': 28,
  'toss_win_loss': {'field': 20, 'bat': 8},
  'win_loss': {'Wickets': 18, 'Runs': 10}},
 'Maharashtra Cricket Association Stadium': {'total_matches': 22,
  'toss_win_loss': {'field': 20, 'bat': 2},
  'win_loss': {'Wickets': 14, 'Runs': 8}},
 'Dr DY Patil Sports Academy, Mumbai': {'total_matches': 20,
  'toss_win_loss': {'field': 17, 'bat': 3},
  'win_loss': {'Runs': 10, 'Wickets': 10}},
 'Dr DY Patil Sports Academy': {'total_matches': 17,
  'toss_win_loss': {'field': 10, 'bat': 7},
  'win_loss': {'Wickets': 10, 'Runs': 7}},
 'Brabourne Stadium, Mumbai': {'total_matches': 17,
  'toss_win_loss': {'field': 14, 'bat': 3},
  'win_loss': {'Wickets': 9, 'Runs': 8}},
 'Subrata Roy Sahara Stadium': {'total_matches': 16,
  'toss_win_loss': {'bat': 15, 'field': 1},
  'win_loss': {'Runs': 10, 'Wickets': 6}},
 'Rajiv Gandhi International Stadium': {'total_matches': 15,
  'toss_win_loss': {'field': 10, 'bat': 5},
  'win_loss': {'Runs': 8, 'Wickets': 7}},
 'Kingsmead': {'total_matches': 15,
  'toss_win_loss': {'bat': 10, 'field': 5},
  'win_loss': {'Runs': 9, 'Wickets': 6}},
 'M.Chinnaswamy Stadium': {'total_matches': 15,
  'toss_win_loss': {'field': 14, 'bat': 1},
  'win_loss': {'Wickets': 7, 'Runs': 7, 'NoResults': 1}},
 'Arun Jaitley Stadium': {'total_matches': 14,
  'toss_win_loss': {'field': 8, 'bat': 6},
  'win_loss': {'Runs': 7, 'Wickets': 6, 'SuperOver': 1}},
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium': {'total_matches': 13,
  'toss_win_loss': {'field': 8, 'bat': 5},
  'win_loss': {'Runs': 7, 'Wickets': 6}},
 'Maharashtra Cricket Association Stadium, Pune': {'total_matches': 13,
  'toss_win_loss': {'field': 11, 'bat': 2},
  'win_loss': {'Runs': 10, 'Wickets': 3}},
 'SuperSport Park': {'total_matches': 12,
  'toss_win_loss': {'field': 6, 'bat': 6},
  'win_loss': {'Wickets': 8, 'Runs': 4}},
 'Sardar Patel Stadium, Motera': {'total_matches': 12,
  'toss_win_loss': {'field': 6, 'bat': 6},
  'win_loss': {'Runs': 6, 'Wickets': 5, 'SuperOver': 1}},
 'Punjab Cricket Association IS Bindra Stadium, Mohali': {'total_matches': 11,
  'toss_win_loss': {'field': 9, 'bat': 2},
  'win_loss': {'Wickets': 6, 'Runs': 5}},
 'Punjab Cricket Association IS Bindra Stadium': {'total_matches': 10,
  'toss_win_loss': {'field': 9, 'bat': 1},
  'win_loss': {'Wickets': 6, 'Runs': 4}},
 'MA Chidambaram Stadium, Chepauk, Chennai': {'total_matches': 10,
  'toss_win_loss': {'bat': 5, 'field': 5},
  'win_loss': {'Runs': 5, 'Wickets': 4, 'SuperOver': 1}},
 'Saurashtra Cricket Association Stadium': {'total_matches': 10,
  'toss_win_loss': {'field': 7, 'bat': 3},
  'win_loss': {'Wickets': 6, 'Runs': 3, 'SuperOver': 1}},
 'Brabourne Stadium': {'total_matches': 10,
  'toss_win_loss': {'bat': 6, 'field': 4},
  'win_loss': {'Runs': 6, 'Wickets': 4}},
 'Holkar Cricket Stadium': {'total_matches': 9,
  'toss_win_loss': {'field': 8, 'bat': 1},
  'win_loss': {'Wickets': 8, 'Runs': 1}},
 'MA Chidambaram Stadium': {'total_matches': 9,
  'toss_win_loss': {'field': 7, 'bat': 2},
  'win_loss': {'Wickets': 5, 'Runs': 4}},
 'Himachal Pradesh Cricket Association Stadium': {'total_matches': 9,
  'toss_win_loss': {'field': 8, 'bat': 1},
  'win_loss': {'Runs': 5, 'Wickets': 4}},
 'New Wanderers Stadium': {'total_matches': 8,
  'toss_win_loss': {'field': 6, 'bat': 2},
  'win_loss': {'Wickets': 5, 'Runs': 3}},
 'Zayed Cricket Stadium, Abu Dhabi': {'total_matches': 8,
  'toss_win_loss': {'field': 5, 'bat': 3},
  'win_loss': {'Wickets': 5, 'Runs': 3}},
 "St George's Park": {'total_matches': 7,
  'toss_win_loss': {'bat': 7},
  'win_loss': {'Wickets': 4, 'Runs': 3}},
 'Narendra Modi Stadium, Ahmedabad': {'total_matches': 7,
  'toss_win_loss': {'field': 6, 'bat': 1},
  'win_loss': {'Wickets': 5, 'Runs': 2}},
 'Barabati Stadium': {'total_matches': 7,
  'toss_win_loss': {'field': 5, 'bat': 2},
  'win_loss': {'Runs': 4, 'Wickets': 3}},
 'JSCA International Stadium Complex': {'total_matches': 7,
  'toss_win_loss': {'field': 4, 'bat': 3},
  'win_loss': {'Wickets': 5, 'Runs': 2}},
 'Newlands': {'total_matches': 7,
  'toss_win_loss': {'bat': 4, 'field': 3},
  'win_loss': {'Runs': 4, 'Wickets': 2, 'SuperOver': 1}},
 'Shaheed Veer Narayan Singh International Stadium': {'total_matches': 6,
  'toss_win_loss': {'field': 3, 'bat': 3},
  'win_loss': {'Wickets': 4, 'Runs': 2}},
 'Nehru Stadium': {'total_matches': 5,
  'toss_win_loss': {'field': 3, 'bat': 2},
  'win_loss': {'Runs': 3, 'Wickets': 2}},
 'Green Park': {'total_matches': 4,
  'toss_win_loss': {'field': 4},
  'win_loss': {'Wickets': 4}},
 'Arun Jaitley Stadium, Delhi': {'total_matches': 4,
  'toss_win_loss': {'field': 3, 'bat': 1},
  'win_loss': {'Wickets': 3, 'Runs': 1}},
 'Vidarbha Cricket Association Stadium, Jamtha': {'total_matches': 3,
  'toss_win_loss': {'bat': 2, 'field': 1},
  'win_loss': {'Runs': 2, 'Wickets': 1}},
 'De Beers Diamond Oval': {'total_matches': 3,
  'toss_win_loss': {'bat': 2, 'field': 1},
  'win_loss': {'Wickets': 2, 'Runs': 1}},
 'Buffalo Park': {'total_matches': 3,
  'toss_win_loss': {'bat': 3},
  'win_loss': {'Runs': 2, 'Wickets': 1}},
 'Eden Gardens, Kolkata': {'total_matches': 2,
  'toss_win_loss': {'field': 2},
  'win_loss': {'Runs': 1, 'Wickets': 1}},
 'OUTsurance Oval': {'total_matches': 2,
  'toss_win_loss': {'bat': 1, 'field': 1},
  'win_loss': {'Runs': 1, 'Wickets': 1}}}